// fixed width property for different i18n text

.btn-circle {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.main-page--btn {
  width: 6rem;
}

.navbar--btn {
  width: 5rem;
}

.see-job-text-btn {
  width: 6.5rem;
}

.modalButton {
  width: 4rem;
}

.cloudCategoryButton {
  width: 12rem;
}