.leftMid {
  z-index: 9999;
  position: fixed;
  padding: 5px;
  text-align: center;
  width: 175px;
  height: 22px;
  border-radius: 4px;

  left: 0;
  top: 45%;
  bottom: 40%;
}

.rightBottom {
  z-index: 9999;
  position: fixed;
  padding: 5px;
  text-align: center;
  width: 175px;
  height: 22px;

  right: 0;
  top: 95%;
  bottom: 0;
}