.list-group {
  &--heading {
    height: 5rem;
    float: left;
    width: 137px;
    text-align: center;
    text-size-adjust: auto;
  }

  &--item {
    width: 5.5rem;
    height: 5rem;
    padding-left: auto;
    padding-right: auto;

    &--text {
    }
  }
}